# Example / default settings for EZ Mapper.
# Copy this file to .env and changes as needed.
# Some settings are required for all deployments / development, others are Docker only.

# Set this to isolate Docker image names / container names etc. from other devs.
EZMAPPER_NAMESPACE=my-dev

# These control the Docker Compose setup
COMPOSE_PROJECT_NAME=${EZMAPPER_NAMESPACE}
# Core compose file
COMPOSE_FILE=docker-compose.yaml
# Uncomment this to open an extermal port
COMPOSE_FILE=${COMPOSE_FILE}:docker-compose.external.yaml
# Uncomment this to overlay the local folder in the container
COMPOSE_FILE=${COMPOSE_FILE}:docker-compose.local.yaml

# Externally accessible HTTP port, for Docker usage.  Set STREAMLET_SERVER_PORT
# to change port for local usage.
EZMAPPER_EXTERNAL_WEB_PORT=66666

# Change to false to disable machine suggested mappings, dev. option.
EZMAPPER_MACHINE_SUGGESTION=True

# Path (app. visible) to folder containing unzipped IUCLID format files (.xsd etc.)
# i.e. this should be a real path for non-Docker usage, and some arbitrary path
# like /iuclid-format for Docker bind mounts.
EZMAPPER_IUCLID_FORMAT=iuclid-format
# Host path to EZMAPPER_IUCLID_FORMAT folder for Docker, not used for
# non-Docker deployment.
EZMAPPER_IUCLID_FORMAT_SRC=${PWD}/../xsd/iuclid6
# A repo. containing the .zip files needed to populate EZMAPPER_IUCLID_FORMAT(_SRC)
EZMAPPER_IUCLID_FORMAT_REPO=https://(your_token_here)@github.com/USEPA/epa-iuclid-snapshot